<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Purge.TV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          crossorigin="anonymous" />
    <style>

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark p-3 dark sticky-top" id="mainNavbar">
        <div class="container-fluid text-center">
            <a class="navbar-brand mx-auto" routerLink="/feed"><strong>PURGE.TV</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="isSignedIn" routerLink="/feed">
                            <i class="fas fa-rss icon-white mr-1" style="font-size: 1.2em;"></i> Feed
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="isSignedIn" routerLink="/profile">
                            <i class="fas fa-user icon-white mr-1" style="font-size: 1.2em;"></i> Your Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="isSignedIn" routerLink="/purges">
                            <i class="fas fa-play-circle icon-white mr-1" style="font-size: 1.2em;"></i> Live Purges
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="!isSignedIn" routerLink="/login">Join Now</a>
                    </li>
                    <!-- Puedes agregar más enlaces aquí -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-2">
        <div class="row bg-white">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center breaking-news">
                    <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-dark py-2 text-white px-1 news">
                        <span class="d-flex align-items-center">&nbsp;LIVE NOW</span>
                    </div>
                    <marquee class="news-scroll" behavior="scroll" direction="left" onmouseover="this.stop();"
                             onmouseout="this.start();"> <a href="cereal.html">Milk Or Cereal First?</a> | <a href="#">Another Thing in
                            Here</a> | <a href="#">Pretend there is something here</a>
                    </marquee>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenido dinámico -->
    <router-outlet></router-outlet>
    <!-- Este es el espacio donde se cargarán los componentes de las páginas específicas -->

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white p-3 dark mt-5">
        <div class="container">
            <p>© 2023 Purge.tv. All Rights Reserved.</p>
            <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            <p>Address: somewhere</p>
            <p>Phone: 000000000</p>
            <p>Email: purge.tv@purgetv.com</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>

</html>
