<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Purge.TV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          crossorigin="anonymous" />
    <style>

    </style>
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark p-3 dark sticky-top" id="mainNavbar">
        <div class="container-fluid text-center">
            <a class="navbar-brand mx-auto" routerLink="/feed"><strong>PURGE.TV</strong></a>
            <!-- Aquí podrías añadir los enlaces del navbar si lo deseas -->
        </div>
    </nav>

    <!-- Contenido dinámico -->
    <router-outlet></router-outlet>
    <!-- Este es el espacio donde se cargarán los componentes de las páginas específicas -->

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white p-3 dark mt-5">
        <div class="container">
            <p>© 2023 Purge.tv. All Rights Reserved.</p>
            <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            <p>Address: somewhere</p>
            <p>Phone: 000000000</p>
            <p>Email: purge.tv@purgetv.com</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
