.navbar-brand {
	font-size: 2rem;
	letter-spacing: 5px;
	padding: 0;
	color: #ffffff;
}
.dark {
	background-color: #000000 !important;
}
.main-text {
	font-size: 2.5rem;
}
.small-text {
	font-size: 2rem;
}
.join-text {
	color: #ffffff;
	background-color: #000000;
	padding: 5px 10px;
	display: inline-block;
	text-decoration: none;
}
.join-text:hover {
	color: #ffffff;
	background-color: #333333;
}
.image-text {
	position: relative;
}

.banner img{
  max-height: 200px !important;

}

.image-text img {
	width: 75%;
	height: auto;
	display: block;
}
#add{
	background-color: #e6e6e6;
}
.image-text .text-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000000;
	font-size: 3vw;
	text-align: center;
	width: 80%;
}
.image-text .text-overlaysmaller {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000000;
	font-size: 1vw;
	text-align: center;
	width: 80%;
}
.icon-white {
	color: #FFFFFF;
}
.news {
	width: 160px
}
.news-scroll a {
	text-decoration: none
}
#postForm {
	position: sticky;
	top: 125px;
	bottom: 20vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
	max-height: 80vh;
	background-color: #e6e6e6;
	padding-bottom: 30px;
}

#imgPurge {
	position: sticky;
	top: 125px;
	bottom: 20vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: hidden;
	max-height: 45vh;
}

#userColumn {
	position: sticky;
	top: 125px;
	bottom: 20vh;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 80vh;
	background-color: #e6e6e6;
	padding: 20px;
}
.header {
	width: 100%;
	position: relative;
	height: 35vh;
	overflow: hidden;
}
.header img {
	width: 100%;
	height: 75%;
	object-fit: cover;
}
.profile {
	position: absolute;
	bottom: 45px;
	left: 50%;
	transform: translateX(-50%);
	border: 6px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	width: 50%;
	max-width: 250px;
	aspect-ratio: 1;
}
.profile img {
	width: 100%;
	height: 100%;
	max-width: 250px;
	max-height: 250px;
	object-fit: cover;
}
.user-info {
	text-align: center;
	margin-top: 20px;
}
.bio {
	text-align:left;
	margin-top: 20px;
	padding: 10px;
	background-color: #f0f0f0;
}
.stats {
	text-align: center;
	margin-top: 20px;
}
.stats p {
	margin-bottom: 5px;
}
#sideBanner {
	position: sticky;
	top: 125px;
	bottom: 20vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-height: 80vh;
	overflow-y: hidden;
}
#postForm::-webkit-scrollbar {
	display: none;
}
#postForm {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.custom-max-width-lg{
	margin-top: 10px;
    min-width: 400px;
}
.user-info,.bio,.stats {
	text-align:left;
}
@media (min-width: 992px) {
	.custom-max-width-lg {
	max-width: 700px;
        min-width: 500px;
	}

}
@media (max-width: 767px) {
	#userColumn{
	position: static;
	}
	#postForm {
	position: static !important;
	z-index: -5;
	max-height: none;
	overflow-y: hidden;
        width: 100vw !important;
	}
	#everything{
	flex-direction: column;
        margin:0 !important;
        width: 100vw !important;
	}
	#add{
	display: none;
	}
	.image-text .text-overlaysmaller {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000000;
	font-size: 3vw;
	text-align: center;
	width: 80%;
	}
	#buttonGo{
	font-size: small;
	}
	#imgPurge {
		position: static;
	}

    .custom-max-width-lg {
            max-width: 300px;
    }
}
